/* mood-badge.css */
.badge.badge-happy {
  background-color: #FFD93D !important;
  color: white !important;
}

.badge.badge-cozy {
  background-color: #D39C74 !important;
  color: white !important;
}

.badge.badge-relaxed {
  background-color: #CDB4DB !important;
  color: white !important;
}

.badge.badge-energetic {
  background-color: #FFAD69 !important;
  color: white !important;
}